.addForm {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;

    button {
        height: 48px;
        width: 344px;
        border-radius: 15px;
    }

    input {
        height: 8px;
        width: 304px;
        padding: 18px;
        border-radius: 15px;
        border-color: #EAEAEA;
    }
}

.submitButton {
    margin-top: 16px;
    color: #FC5F5F;
    ;
}