.App {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;    
    margin-top: 72px;
}

hr {
    width: 350px;
    border: 0;
	border-top: 1px solid #EAEAEA;
}